<div>
  <h3>Please login to continue</h3>
  <p><label>Email: </label><input id="txt_username" type="text" /></p>
  <p><label>Password: </label><input id="txt_password" type="password" /></p> 
    <div class="actions">
        <a href="#close" class="ui cancel button" rel="modal:close">Cancel</a>
        <div id="submitLogin" class="ui approve button">Login</div>
    </div>
<!--<p><button type="submit" id="submitLogin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Login</button></p>-->
</div>