<div>
    <h3>Your Query</h3>
    <div class="ui input focus">
        <textarea cols="3" id="queryText" placeholder="Your query here..."></textarea>
    </div>
    <div class="actions">
        <a href="#close" class="ui cancel button" rel="modal:close">Cancel</a>
        <div id="postQuery" class="ui approve button">Post</div>
    </div>
    <!--<textarea cols="3" id="queryText"></textarea>
    <button id="postQuery" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Post</button>-->

</div>